  body {
   
    background-color: #d3d3d3;

    font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;


  }
  
  
  ul {
    color: rgb(91, 2, 2);
    

  }

  p {
    color: rgb(165, 235, 137);
    line-height: 1.5;
  }
